*{
    max-width: 960px;
    margin: auto;
    padding: 0;
    background-color:#C9D1D7;
    box-sizing: border-box; /* papētīt sīkāk*/
    text-decoration: none;
}

/*UPPER PART (Header) where is navigation+ */

header{
    background-color: #2D3E49;
    /*justify-content: space-between;*/ 
    width: 100%;
    height: 53px;
    
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
}

.headerForm{
    height: 32px; 
    max-width: 280px; 
    width: 200px; 
    border-radius: 4px;
    margin-left: 15px;
}

nav{
    background-color: #2D3E49;
    text-align: center; 
    display: flex;
    align-items: center;
    height: 53px;
    /*justify-content: space-between;*/
}

nav a{
    background-color: #2D3E49; 
    margin: 3px 15px 1px;
    text-decoration: none;
    color: #C9D1D7;
}

nav img{
    height: 19px;
}

.navElemBackground{
    background-color: #2D3E49;
}

.MyNetworkWidth{
    width: 80px;
}

.MeWidth{
    width: 40px;
}

.WorkWidth{
    width: 50px;
}

.Line{
    width: 1px;
    height: 48px;
}
.Arrow{
width: 12.12px;
height: 6.75px;
}

.headerText{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C9D1D7;
    text-decoration: none;
}

.headerLeftMargin{
    margin-left: 50px;
}

.headerNavMargin{
    margin-left: 70px;
}

.headerRightMarginPlus{
    color:#D8CDA8;
    width: 110px;
   
}


/*Text below Header*/

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 960px;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 15px;
}

.h1Span_1{
    color: rgb(65, 65, 224);
}

.h1Span_2{
    font-weight:lighter; 
    font-size: 10px;
}


/*MAIN part*/

main{
    margin-left: 50px;
    margin-right: 50px;
    width: 960px;
    height: 350px;
    background-color: rgba(255, 255, 255);
}

.MainPic{
    width: 100%;
    height: 200px;
}

.LittlePic{
    margin-left: 7%;
    margin-top: -52px;
    position: relative;    
}

.Name{
    margin-left: 200px;
    margin-top: -50px;
    width: fit-content;
    background-color: rgba(255, 255, 255);

}

.NameText_1{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;    
    color: #191919;
    background-color: white;
}

.NameText_2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
    background-color: white;
}

.Following{
    margin-left: 650px;
    margin-top: -40px;
    width: 280px;
    text-align: right;
    background-color: white;      
}

.FollowingText_1{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #606F7B;
    background-color: white;
}

.FollowingText_2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #191919;
    background-color: white;
}

.FollowingText_3{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #3072AC;
    background-color: white;
}

.mainButtonVisitWeb{
    width: 146px;
    height: 32px;
    background: #3072AC;
    border-radius: 2px;
    margin-left: 45px;
}

.mainButtonVisitWeb_VertPos{
    margin-top: -19px;
    background-color: white;
}

.mainButtonVisitWebText{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 143px;
    height: 29px;
    background: #3072AC;
    border-radius: 2px;
}


/*SECTION part*/

section{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 960px;
    display: flex;
}

/*Section - LEFT*/

.sectionLeft{
    display: flex;
    flex-direction: column;
    width: 217px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    align-items: left;
    color: #3072AC;
    background-color: white;
}

.sectionLeftText{
    width: 217px;
    background-color: white;
    margin-top: 1px;
    text-decoration: none;
    height: 35px;
    padding: 10px;
    border-bottom:1px solid #C9D1D7;
}

/*Section - MIDDLE - te raksta stilu vidum */
/*MIDDLE SECTION */

.middleSectionBackground{
    background-color: white;
    
}

.sectionMiddle{
    display: flex;
    flex-direction: column;
}   
.sectionMiddleTop{
    background-color:transparent;
    width: 552px;
    height: 40px;
    display: flex;
    flex-direction: row;
    filter: none;
    
    justify-content: left;
    }
    .allButton{
    
        font-weight: bold;
        font-size: 16px;
        
        color: #FFFFFF;
        width: 45px;
        height: 29px;
        background-color: rgb(121, 119, 119);
        border-radius: 50px;
        border-width: 0px;
        cursor: pointer;
    }
    .otherButton{
        font-weight: bold;
        font-size: 16px;
        
        color: #858484;
        width: 100px;
        height: 29px;
        background-color: rgb(197, 195, 195);
        border-radius: 50px;
        border-width: 0px;
        cursor: pointer;
    }
    
    
.sectionMiddleFirstBlock{
    background-color:white;
    width: 552px;
    height: 500px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}   

.sectionMiddleFirst{
    margin: 5px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.sectionMiddleSecond{
    margin: 5px;
    width: 450px;
    height: 40px;
    
}

.sectionMiddleThird{
    width: 552px;
    height: 54px;
    margin: 5px;
}
.Rectangle112{
    width: 40px;
    height: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(Checker.png);
}
.name{
    font-weight: bold;
    font-size: 14px;
    text-decoration: none; 

}

.followers{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #707070;
    background-color: white;
}
.globe{
    width: 10px;
    height: 10px; 
    margin-top: 2px;
}
.dot{
   margin-bottom: 2px;
}
.dots{
    display: flex;
    align-self: center;
    background-color: white;
}
.sectionMiddleFourth{
    width: 552px;
    height: 300px;
    
}
.rectangle113{
    background-color: white;
    
}
.title{
    
    width: 552px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
    padding: 7px;
    background-color: white;
    
}

.sectionMiddleSixth{
    width: 552px;
    height: 42x;
    display: flex;
    justify-content: left;
    background-color: white;
    
}
.react{
    display: flex;
    justify-content: left;
    padding: 5px;
    
}
.comments{
    
    height: 40x;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    color: #707070;
    background-color: white;
    display: flex;
    justify-content: left;
    
    
}
.sectionMiddleSeventh{
    width: 552px;
    padding: 10px;
    height: 45px;
    display: flex;
    justify-content: left;
    background-color: white;
   
}
.space{
    padding-right: 15px;
    background-color: white;
}

<<<<<<< HEAD
/* Right side elements*/

.rightSide {
display: flex;
flex-direction: column;
}

.block1 {
width: 311px;
height: 258px;
background: #FFFFFF;
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

h {
background-color:white;
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
letter-spacing: -0.015em;
color: #707070;
margin-left: 265px;
}

.Addots {
width: 38px;
height: 16px;
background-color: white;
}

.text1 {
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
letter-spacing: -0.015em;
color: #707070;
background-color: white;
margin-left: 45px;
margin-top: 20px;
}

.Ellipse {
background-color:white;
margin-left: 25px;
} 

.Rectangle122 {
width: 70px;
height: 70px;
margin-left: 25px;
border-radius: 2px;
}

.text2 {
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
letter-spacing: -0.015em;
color: #707070;
background-color: white;
margin-top: 15px;
margin-left: 15px;
}

.block1Text3 {
background-color: white;
display:flex;
justify-content: center;
}

.text3 {
font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 19px;
text-align: center;
letter-spacing: -0.015em;
color: #707070;
background-color: white;
text-decoration: none;;
}

.mainButtonFollow {
background-color: white;
}
    
.ButtonFollow {
width: 81px;
height: 32px;
border: 1px solid #3072AC;
box-sizing: border-box;
border-radius: 2px;
justify-content: center;
background-color: white;
margin-left: 110px;
margin-top: 15px;
}
    
.ButtonFollowText {
font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
Padding: 2px;
color: #3072AC;
background-color: white;
}  

/* Right side bottom block*/


.block2 {
width: 311px;
height: 326px;
background: #FFFFFF;
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}

.block2 p1 {
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: black;
text-decoration: none;
background-color: white;
text-align: left;

}

.topElements {
display: flex;
flex-direction: row;
background-color:white;
}

.Rectangle177 {
width: 48px;
height: 48px;
border-radius: 1px;
background-color: white;
margin-left: 20px;
}

.block2Text {
font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 133.8%;
color: #191919;
background-color: white;
margin-left: 10px;
margin-top: 5px;

}
.block2_span2 {
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 133.8%;
color: #191919;
background-color: white;
}

.text4 {
font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 133.8%;
color: #3072AC;
margin-top: 15px;
margin-left: 80px;
background-color: white;
}

.Rectangle118 {
width: 240px;
height: 1px;
display: flex;
justify-content: flex-end;
background: #DDDDDD;
margin-left: 72px;
margin-top: 15px;
}

.Rectangle120 {
width: 311px;
height: 1px;
background: #DDDDDD;
}

.show-more {
font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 133.8%;
color: #3072AC;
background-color: white;
display: flex;
justify-content: center;
margin-top:20px;
}

.show-pic {
left: 80.32%;
right: 18.72%;
top: 44.99%;
bottom: 54.74%;
background: white;
margin-left: 5px;
margin-top: 5px;
}
    
=======



/*Section - RIGHT - te raksta stilu labai kolonnai */









>>>>>>> 3b5709cd10af7fffd899488193a32e44ed3a38ed

