*{
    max-width: 1242px;
    margin: 0;
    padding: 0;
    background-color:#C9D1D7;
    box-sizing: border-box; /* papētīt sīkāk*/
}

/*UPPER PART (Header) where is navigation+ */

header{
    background-color: #2D3E49;
    /*justify-content: space-between;*/ 
    width: 100%;
    height: 53px;
    
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
}

.headerForm{
    height: 32px; 
    max-width: 280px; 
    width: 280px; 
    border-radius: 4px;
    margin-left: 15px;
}

nav{
    background-color: #2D3E49;
    text-align: center; 
    display: flex;
    /*justify-content: space-between;*/
}

nav a{
    background-color: #2D3E49; 
    margin: 3px 15px 1px;
    text-decoration: none;
    color: #C9D1D7;
}

nav img{
    height: 19px;
}

.navElemBackground{
    background-color: #2D3E49;
}

.Line{
    width: 1px;
    height: 48px;
}
.Arrow{
width: 12.12px;
height: 6.75px;
}
    

.headerText{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C9D1D7;
    text-decoration: none;
}

.headerLeftMargin{
    margin-left: 5%;
}

.headerNavMargin{
    margin-left: 15%;
}

.headerRightMarginPlusColor{
    margin-right: 5%;
    color:#D8CDA8;
}


/*Text below Header*/

h1{
    margin: 5px auto;
    vertical-align: top;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 15px;
}

.h1Span_1{
    color: rgb(65, 65, 224);
}

.h1Span_2{
    font-weight:lighter; 
    font-size: 10px;
}


/*MAIN part*/

.mainStyle{
    margin-left: 5%; 
    margin-right: 5%;
}

.mainLowerBox{
    background-color: rgba(255, 255, 255, 1);
    height: 192px;
    width: 1129px;
    margin-top: -135px;
}

.LittlePic{
    margin-left: 7%;
    margin-top: -52px;    
}

.Name{
    margin-left: 20%;
    margin-top: -50px; 
}

.NameText_1{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;    
    color: #191919;
    background-color: white;
}

.NameText_2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
    background-color: white;
}

.Following{
    margin-left: 75%;
    margin-top: -40px;
    text-align: right;      
}

.FollowingText_1{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #606F7B;
    background-color: white;
}

.FollowingText_2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #191919;
    background-color: white;
}

.FollowingText_3{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #3072AC;
    background-color: white;
}

.mainButtonVisitWeb{
    width: 146px;
    height: 32px;
    background: #3072AC;
    border-radius: 2px;
    margin-left: 7%;
}
.mainButtonVisitWeb_VertPos{
    margin-top: -19px;
}

.mainButtonVisitWebText{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 143px;
    height: 29px;
    background: #3072AC;
    border-radius: 2px;
}

/*SECTION part*/

section{
    margin-top: 20px;
    margin-left: 5%; 
    margin-right: 5%;
    justify-content: space-between; 
    display: flex;
}

.sectionLeft{
    display: flex;
    flex-direction: column;
    width: 217px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    align-items: left;
    color: #3072AC;
}

.sectionLeftText{
    background-color: white;
    margin-top: 1px;
    text-decoration: none;
    height: 35px;
    padding: 10px;
}

.sectionLeftText_span{
    margin-left: 10px; 
    background-color: white;
}

