body {
    margin: 0px;
}
.LogoGroup {
    position: absolute;
width: 34px;
height: 34px;
left: 154px;
top: 10px;

}
.rectangle125 {
 

position: absolute;
width: 280px;
height: 32px;
left: 201px;
top: 11px;

background: #E1E5E8;
border-radius: 2px;
}


.search-global-typeahead__input {
    position: absolute;
    
width: 250px;
height: 29px;
left: 225px;
top: 12px;
border: 0px;

font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
}
.lupa1 {

    position: absolute;
    width: 9px;
    height: 9px;
    left: 211px;
    top: 21px;
    
    }
    .lupa2 {
        position: absolute;
    width: 3.5px;
    height: 3.5px;
    left: 218px;
    top: 28.5px;
    
    }